---
- name: update | Updating Netdata ({{ netdata_updater }}) From {{ netdata_source_dir }} # noqa no-changed-when
  ansible.builtin.command: "{{ netdata_updater }}"
  args:
    chdir: "{{ netdata_source_dir }}"
  become: true
  notify: restart netdata
  when: not netdata_update_force|bool

- name: update | Force Updating Netdata ({{ netdata_updater }}) From {{ netdata_source_dir }} # noqa no-changed-when
  ansible.builtin.command: "{{ netdata_updater }} -f"
  args:
    chdir: "{{ netdata_source_dir }}"
  become: true
  when: netdata_update_force
